In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
df=pd.read_table('Automobile_data.txt',sep=',')
#d

In [15]:
df.sample(8)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
189,3,NaN,volkswagen,0,0,0.0,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90.0,5500.0,24,29,11595.0
32,1,101.0,honda,0,0,0.0,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60.0,5500.0,38,42,5399.0
57,3,150.0,mazda,0,0,0.0,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,13645.0
14,1,NaN,bmw,0,0,1.0,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121.0,4250.0,20,25,24565.0
12,0,188.0,bmw,0,0,0.0,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121.0,4250.0,21,28,20970.0
143,0,102.0,subaru,0,0,1.0,sedan,fwd,front,97.2,...,108,mpfi,3.62,2.64,9.0,94.0,5200.0,26,32,9960.0
73,0,NaN,mercedes-benz,0,0,1.0,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,40960.0
2,1,NaN,alfa-romero,0,0,0.0,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized-losses    164 non-null float64
make                 205 non-null object
fuel-type            205 non-null int64
aspiration           205 non-null int64
num-of-doors         203 non-null float64
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 201 non-null float64
stroke               201 non-null float64
compression-ratio    205 non-null float64
horsepower           203 non-null float64
peak-rpm             203 non-null float64
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                201 non-null float64
dtypes: float64(12), int64(7), object(7)
memory usage: 41.7+ KB

In [9]:
def dummy (col_holder):
    global df
    temp_dict= dict()
    dmapvar=0 #dummy mapped variable
    #create a dcitionary values of unique column values
    for elem in df[col_holder].unique():
        if not pd.isna(elem):
            temp_dict[elem]= dmapvar        
            dmapvar= dmapvar + 1                   
    df = df.replace({col_holder: temp_dict})
    return temp_dict

## Details obtained from dataset description 
normalized-losses    205 non-null object > type cast to float 
make                 205 non-null object > cateogorical company nams
fuel-type            205 non-null object > dummy code for petrol and disel
aspiration           205 non-null object > dummy code for std and turbo
num-of-doors         205 non-null object > dummy code forfour and two
body-style           205 non-null object > dummy code for hardtop, wagon, sedan,hatchback, convertible
drive-wheels         205 non-null object *******
engine-location      205 non-null object > dummy cdode for front and rear
engine-type          205 non-null object >dummy cdode for see data set details
num-of-cylinders     205 non-null object > dummy code to rspctv numericals
fuel-system          205 non-null object > dummy code
bore                 205 non-null object > type cast to float
stroke               205 non-null object > type cast to float
horsepower           205 non-null object > type cast to float
peak-rpm             205 non-null object > type cast to float
price                205 non-null object > type cast to float

#  replace ? with nan ,next cell is type casting

In [10]:
df=df.replace("?",np.nan)
df['normalized-losses']=df['normalized-losses'].astype('float')
df.bore=df.bore.astype('float')  
df.stroke=df.stroke.astype('float')
df.horsepower=df.horsepower.astype('float')
df['peak-rpm']=df['peak-rpm'].astype('float')
df.price=df.price.astype('float')

# dummy coding

In [11]:
#method 1 for fuel type
print(df['fuel-type'].unique())
#petrol= 1 and diese
for element in df['fuel-type'].unique():
    if(element=='gas'):
        df['fuel-type']=df['fuel-type'].replace(element,0)
    elif(element=='diesel'):
         df['fuel-type']=df['fuel-type'].replace(element,1)
print("fuel type -> gas= 0 and diesel = 1 ")
#dummy coding  function ,replaces variables and return uniwuq ariables
asprtn_dict=dummy('aspiration')
print('aspiration:',asprtn_dict)
#dummy coding for num-of-doors

[0 1]
fuel type -> gas= 0 and diesel = 1
aspiration: {'std': 0, 'turbo': 1}

In [14]:
num_of_doors_dict=dummy('num-of-doors')

In [19]:
print('num-of-doors:',num_of_doors_dict)

num-of-doors: {'two': 0, 'four': 1}

In [20]:
df['num-of-doors'].unique()

array([ 0.,  1., nan])

In [ ]:
df.info()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['fuel-type'].unique()

# dummy coder function

In [ ]:
df.aspiration

In [ ]:
dict1=dummy('aspiration')

In [ ]:
df

In [ ]:
var1 = 100

In [ ]:
np.isnan(1)

In [ ]:
x=np.nan
if np.isnan(x):
     else:
        x=2

In [ ]:
x

In [ ]:
pd.isna(1)